<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>D:\Downloads\ZeroBraneStudio\bin\lua.exe</StartProgram>
    <StartArguments>main.lua mandel.ks -o mandel.exe</StartArguments>
    <StartWorkingDirectory>C:\Work\Temp\Lua\kscope</StartWorkingDirectory>
  </propertyGroup>
</Project>